@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
<div class="text-center text-danger mt-lg-auto">
    <h2>Sorry, we have a exception...</h2>
    <h3>
        <strong>@Model.Message</strong>
    </h3>
</div>
<div class="text-center">
    <a asp-action="SellerIndex" asp-controller="UserManagement"><button class="btn btn-outline-primary">Return</button></a>
</div>
}


