@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
<div class="text-center text-danger mt-lg-auto">
    <h3 class="m-lg-5">
        <strong>@Model.Message</strong>
    </h3>
</div>
<div class="text-center">
    <a asp-action="@Model.ViewToGo" asp-controller="UserManagement"><button class="btn btn-outline-primary">Return</button></a>
</div>
}


