@model IEnumerable<StuffAndThings.Models.UserModel>

@{
    ViewData["Title"] = "Buyer Index";
}

<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Buyers </h1>
        </div>
    </div>
</header>

<div class="m-5 shadow p-3 mb-5">
    <p>
        <a asp-action="Create">
            <button class="btn btn-primary">
                Create New
            </button>
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Full Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Document)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Document)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>