@model StuffAndThings.Models.OrderModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>
<h4 class="text-center">OrderModel</h4>
<hr />
<div class="row">
    <div class="shadow col-md-2 centralizar">
        <div class="row">
            <div class="col-md-12 ">
                <form asp-action="Upsert">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-10 centralizar">
                            <label asp-for="Discount" class="control-label"></label>
                            <input asp-for="Discount" class="form-control" />
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="w-75">
                        <label class="control-label">Seller</label>
                        <select class="custom-select" asp-items="@(new SelectList(Model.Skus, "Id", "FullName"))"></select>
                    </div>
                    <div class="row">
                        <div class="col-md-10 centralizar">
                            <label asp-for="Message" class="control-label"></label>
                            <input asp-for="Message" class="form-control" />
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 centralizar">
                            <label asp-for="Type" class="control-label"></label>
                            <select class="form-control" asp-for="Type" asp-items="Html.GetEnumSelectList<StuffAndThings.Models.Enums.OrderType>()"></select>
                        </div>
                    </div>
                    <div class="pt-2 mt-2 mb-2 text-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a class="btn btn-outline-primary " asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
