<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script>

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <div class="m-5 shadow p-3 mb-5 bg-white rounded">
        <p>
            <a class="align-items-center" style="text-shadow: 2px 2px #ff0000" href="https://github.com/lukasferreira/StuffAndThings">
                <img src="~/images/logoStuffAndThings1-1.jpg" />
            </a>
        </p>
    </div>
    <div class="m-5 shadow p-3 mb-5 bg-white rounded">
        <h1 class="text-monospace">NEW FEATURES</h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline8">
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">04/04/2021</span>
                        <div class="timeline-content">
                            <h3 class="title">Model: User</h3>
                            <p class="description">
                                login and register setup.
                                Users can create an account and login with a user name and password.
                            </p>
                        </div>
                    </div>
                    @*<div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">16/04/2021</span>
                        <div class="timeline-content">
                            <h3 class="title">Model: Material Management</h3>
                            <p class="description">
                                Purchase, storage and transactions proccess.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">23/04/2021</span>
                        <div class="timeline-content">
                            <h3 class="title">Model: Sales</h3>
                            <p class="description">
                                Order, reserve, confirm, credit analysis and checkout.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">30/04/2021</span>
                        <div class="timeline-content">
                            <h3 class="title">Model: Bills</h3>
                            <p class="description">
                                Accounts payable and receivable.
                            </p>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>