<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link href="~/css/index.css" rel="stylesheet" />
@model IEnumerable<StuffAndThings.Models.ShowcaseModel>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white" ">
            <h1 class="display-4 fw-bolder"> Stuff & Things</h1>
            <p class="lead fw-normal text-white-50 mb-0">Found stuffs were made exclusive for you.</p>
        </div>
    </div>
</header>

@{ ViewData["Title"] = "Home Page"; }

@{
    @foreach (var showcase in Model)
    {
        <!-- Section-->
        <section class="py-5">

            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    @foreach (var productshowcase in showcase.ShowcaseSkus)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top mt-4" src="@productshowcase.Sku.ImageUrl" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h3 class="fw-bolder">@productshowcase.Sku.Name</h3>
                                        <!-- Product price-->
                                        <h4>@productshowcase.Sku.Price BRL</h4>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    }
        </section>
    }
}

