@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="display-4 shadow-sm">
        <h1>Welcome to</h1>
        <p>
            <a class="align-items-center" style="text-shadow: 2px 2px #ff0000" href="https://github.com/lukasferreira/StuffAndThings">
                <img src="~/images/logoStuffAndThings1-1.jpg" />
            </a>
        </p>
    </div>
    <div id="topnews" class="shadow-sm p-3 mb-5 bg-white rounded">
        <h1>News</h1>
    </div>
        <div class="media">
            <img class="mr-3" src="/images/logoStuffAndThings1-1.jpg" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        

    </div>
</div>
