@model StuffAndThings.Models.SkuStocksModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center text-monospace">Create</h1>
<h3 class="text-center text-monospace">SkuStocksModel</h3>
<div class="row d-flex justify-content-center">
    <div class="col-md-3 m-2 shadow mb-1">
        <form asp-action="Upsert">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="w-75">
                    <label asp-for="AvailableQuantity" class="control-label"></label>
                    <input asp-for="AvailableQuantity" class="form-control" />
                    <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
                </div>
                <div class="w-75">
                    <label class="control-label">Seller</label>
                    <select class="custom-select" asp-for="Seller.Id" asp-items="@(new SelectList(Model.Sellers, "Id", "FullName"))"></select>
                </div>
                <div class="w-75">
                    <label class="control-label">Sku</label>
                    <select class="custom-select" asp-for="Sku.Id" asp-items="@(new SelectList(Model.Skus, "Id", "Name"))"></select>
                </div>
                <div class="ml-3 mb-3 mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <button class="btn btn-outline-primary">Back to List</button></a>
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function clicar() {
        var x = document.getElementById("clicar").innerHTML;
        console.log(x);
    }
</script>