@model StuffAndThings.Models.SkuStocksModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center text-monospace">Create</h1>
<h3 class="text-center text-monospace">SkuStocksModel</h3>

<div class="m-5 shadow p-3 mb-5">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Upsert">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AvailableQuantity" class="control-label"></label>
                    <input asp-for="AvailableQuantity" class="form-control" />
                    <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastUpdate" class="control-label"></label>
                    <input asp-for="LastUpdate" class="form-control" />
                    <span asp-validation-for="LastUpdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <label asp-for="Seller.FullName" class="control-label"></label>
                    <input asp-for="Seller.FullName" class="form-control" />
                </div>
                <div>
                    <label asp-for="Seller.CPF" class="control-label"></label>
                    <input asp-for="Seller.CPF" class="form-control" />
                </div>
                <div>
                    <label asp-for="Seller.CNPJ" class="control-label"></label>
                    <input asp-for="Seller.CNPJ" class="form-control" />
                </div>
                <div>
                    <label asp-for="Seller.Discriminator" class="control-label"></label>
                    <input asp-for="Seller.Discriminator" class="form-control" />
                </div>
                <div>
                    <label asp-for="Seller.Gender" class="control-label"></label>
                    <input asp-for="Seller.Gender" class="form-control" />
                </div>
                <div>
                    <label asp-for="Sku.Name" class="control-label"></label>
                    <input asp-for="Sku.Name" class="form-control" />
                </div>
                <div>
                    <label asp-for="Sku.Barcode" class="control-label"></label>
                    <input asp-for="Sku.Barcode" class="form-control" />
                </div>
                <div>
                    <label asp-for="Sku.Color" class="control-label"></label>
                    <input asp-for="Sku.Color" class="form-control" />
                </div>
                <div>
                    <label asp-for="Sku.Price" class="control-label"></label>
                    <input asp-for="Sku.Price" class="form-control" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">
            <button class="btn btn-outline-primary">
                Back to List
            </button>
        </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
