@model StuffAndThings.Models.ShowcaseModel


<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> ShowCaseModel </h1>
        </div>
    </div>
</header>

<div class="row d-flex justify-content-center mt-2">
    <div class="col-md-8 m-1 shadow mb-2">
        <form asp-action="Edit">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 d-flex flex-wrap justify-content-center">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group ml-1">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group ml-1">
                        <label asp-for="LastUpdate" class="control-label"></label>
                        <input asp-for="LastUpdate" class="form-control" />
                        <span asp-validation-for="LastUpdate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-10">
                        @foreach (var item in Model.ShowcaseItems)
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-thumbnail" style="width:100%; height:auto; " src="@item.Sku.ImageUrl" />
                                    <div class="col-md-3 justify-content-center text-uppercase font-weight-bold">
                                        <!--<a class="btn btn-outline-primary" asp-action="">Remove</a>-->
                                    </div>
                                </div>
                                <div class="col-md-2 justify-content-center text-uppercase font-weight-bold">
                                    <a> @item.Sku.Name </a>
                                </div>
                                <div class="col-md-2 justify-content-center text-uppercase font-weight-bold">
                                    <a> @item.Sku.Barcode </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
